<product
	inline-template
	discount-price=""
	@show-available-shops="showProductAvailableShops"
	@product-added-to-cart="productAddedToCart"
	:product-id="9974"
	:is-new="0"
	:is-discount="0"
	:is-gift="0"
	:discount-min-amount="3"
	manufacturer="Casa Vitivinicola Tinazzi"
	name="Вино Бардолино Пьеве Сан Вито Валлезелле DOP кр.сух."
	section-name="Вино импорт"
	>
<div class="product_card_container" :class="getClasses()" >
	<div class="product_card_name">Вино Бардолино Пьеве Сан Вито Валлезелле DOP кр.сух.</div>
	<div class="product_card_after_name">Bardolino Classico 'Pieve San Vito' Tenuta Valleselle</div>
	<div class="product_card_left">
		<div class="pr_card">
			<div v-cloak v-if="isDiscount" class="icon_status status_action">-% от 3 шт.</div>
			<span v-cloak v-else-if="isNew" class="icon_status status_new">New</span>



							<div class="ico_change_view"><img src="//krasnoeibeloe.gcdn.co/local/templates/.default//img/ico_change_view.png" alt=""></div>
				<div class="pr_card_images pr_card_images--360">
					<div class="pr_card_images_carousel">
													<div class="pr_card_images_slide">
								<div class="pr_card_img">
									<a href="//krasnoeibeloe.gcdn.co/upload/iblock/9db/bardolino_classico_pieve_san_vito.jpg" class="fancybox_pad30" rel="gallery--9974" >
										<img src="//krasnoeibeloe.gcdn.co/upload/resize_cache/iblock/9db/200_356_1/bardolino_classico_pieve_san_vito.jpg" alt="">
									</a>
								</div>
							</div>
													<div class="pr_card_images_slide">
								<div class="pr_card_img">
									<a href="//krasnoeibeloe.gcdn.co/upload/iblock/0e3/V_Bardolino-Pieve-San-Vito-e.jpg" class="fancybox_pad30" rel="gallery--9974" >
										<img src="//krasnoeibeloe.gcdn.co/upload/resize_cache/iblock/0e3/200_356_1/V_Bardolino-Pieve-San-Vito-e.jpg" alt="">
									</a>
								</div>
							</div>
													<div class="pr_card_images_slide">
								<div class="pr_card_img">
									<a href="//krasnoeibeloe.gcdn.co/upload/iblock/d72/Valleselle-bardolino-classico-pieve-san-vito_kontr.jpg" class="fancybox_pad30" rel="gallery--9974" >
										<img src="//krasnoeibeloe.gcdn.co/upload/resize_cache/iblock/d72/200_356_1/Valleselle-bardolino-classico-pieve-san-vito_kontr.jpg" alt="">
									</a>
								</div>
							</div>
																			<div class="pr_card_images_slide pr_card_images_slide--360">
								<div data-imgs="[&quot;\/upload\/resize_cache\/iblock\/902\/200_356_1\/bardolino_001.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/326\/200_356_1\/bardolino_002.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/802\/200_356_1\/bardolino_003.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/121\/200_356_1\/bardolino_004.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/f08\/200_356_1\/bardolino_005.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/1c6\/200_356_1\/bardolino_006.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/7ed\/200_356_1\/bardolino_007.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/859\/200_356_1\/bardolino_008.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/27c\/200_356_1\/bardolino_009.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/fc6\/200_356_1\/bardolino_010.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/719\/200_356_1\/bardolino_011.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/60d\/200_356_1\/bardolino_012.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/923\/200_356_1\/bardolino_013.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/edd\/200_356_1\/bardolino_014.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/490\/200_356_1\/bardolino_015.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/1d5\/200_356_1\/bardolino_016.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/c01\/200_356_1\/bardolino_017.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/454\/200_356_1\/bardolino_018.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/d20\/200_356_1\/bardolino_019.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/916\/200_356_1\/bardolino_020.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/ab1\/200_356_1\/bardolino_021.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/77b\/200_356_1\/bardolino_022.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/08b\/200_356_1\/bardolino_023.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/d03\/200_356_1\/bardolino_024.jpg&quot;]" class="pr_card_images__rotate-imgs">
																	<img src="//krasnoeibeloe.gcdn.co/upload/resize_cache/iblock/902/200_356_1/bardolino_001.jpg" id="rotate-img">
								</div>
								<a href="#popup-3d" class="pr_card_images__popup-btn fancybox-3d"></a>
								<div id="popup-3d" class="popup-3d">
									<div data-imgs="[&quot;\/upload\/resize_cache\/iblock\/902\/800_800_1\/bardolino_001.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/326\/800_800_1\/bardolino_002.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/802\/800_800_1\/bardolino_003.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/121\/800_800_1\/bardolino_004.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/f08\/800_800_1\/bardolino_005.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/1c6\/800_800_1\/bardolino_006.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/7ed\/800_800_1\/bardolino_007.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/859\/800_800_1\/bardolino_008.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/27c\/800_800_1\/bardolino_009.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/fc6\/800_800_1\/bardolino_010.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/719\/800_800_1\/bardolino_011.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/60d\/800_800_1\/bardolino_012.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/923\/800_800_1\/bardolino_013.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/edd\/800_800_1\/bardolino_014.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/490\/800_800_1\/bardolino_015.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/1d5\/800_800_1\/bardolino_016.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/c01\/800_800_1\/bardolino_017.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/454\/800_800_1\/bardolino_018.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/d20\/800_800_1\/bardolino_019.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/916\/800_800_1\/bardolino_020.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/ab1\/800_800_1\/bardolino_021.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/77b\/800_800_1\/bardolino_022.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/08b\/800_800_1\/bardolino_023.jpg&quot;,&quot;\/upload\/resize_cache\/iblock\/d03\/800_800_1\/bardolino_024.jpg&quot;]" class="pr_card_images__rotate-imgs">
										<img src="//krasnoeibeloe.gcdn.co/upload/resize_cache/iblock/902/800_800_1/bardolino_001.jpg" id="rotate-img-popup">
									</div>
								</div>
							</div>
											</div>
				</div>
						<!--noindex-->
			<div class="pr_card_bottom_b">
								<div v-cloak class="product_item__price">
					<div class="product_item__price_c">
						<div @mouseover="priceMouseOver()" @mouseleave="priceMouseLeave()" class="i_price" >
							<div v-cloak v-show="!isDiscountAllowed" >
								{{ parseInt(priceValue) }}.<span>{{ _.toNumber(priceValue).toFixed(2).split('.')[1] || '00' }} &#8381;</span>
							</div>
							<div v-cloak v-show="isDiscountAllowed" >
								{{ parseInt(discountPrice) }}.<span>{{ _.toNumber(discountPrice).toFixed(2).split('.')[1] || '00' }} &#8381;</span>
							</div>
						</div>
						<p v-cloak v-if="!mainShop.shopNum" >средняя цена</p>
					</div>
					<a href="javascript:void(0);" @click="favToggle()" class="link_product_to_favourite" ></a>
					<span v-cloak v-if="mainShop.shopNum" class="product_count_ost" >{{ amount }} шт.</span>
				</div>
				<div class="product_item_buy">
					<quantity :product-id="9974" :quantity="quantity" :max-quantity="mainShop.shopNum ? +amount : 9999" ></quantity>
					<a @click="addToCart()" href="javascript:void(0)" class="btn_buy addtocart_link" ></a>
				</div>
				<a href="javascript:void(0);" class="btn btn_blue btn_big" @click="showAvailableShops()">Где купить</a>
							</div>
			<!--/noindex-->
		</div>
	</div>
	<div class="product_card_right">
				<div class="join_us">
			<div class="join_us__title">
				Присоединяйтесь!
			</div>
			<div class="join_us__content">
				<a href="https://vk.com/krasnoebeloe" target="new" onclick="yaCounter15466654.reachGoal('gotovk');"><img src="//krasnoeibeloe.gcdn.co/local/templates/.default/img/social_vk_color.png" alt=""></a>
				<a href="http://ok.ru/krasnoebeloe" target="new" onclick="yaCounter15466654.reachGoal('gotook');"><img src="//krasnoeibeloe.gcdn.co/local/templates/.default/img/social_ok_color.png" alt=""></a>
				<a href="https://www.instagram.com/krasnoebeloe/" target="new" onclick="yaCounter15466654.reachGoal('gotoinst');"><img width="36" src="//krasnoeibeloe.gcdn.co/local/templates/.default/img/social_inst_color.png" height="36" alt=""></a>
			</div>
		</div>
		<div class="product_card_rank">
			<!--'start_frame_cache_qepX1R'-->			 <vote  :max-vote=10  :rating="3.5"  :ajax-params="{'SESSION_PARAMS':'cef0e094834cd2ba3e3f77b61b4a7708','PAGE_PARAMS':{'ELEMENT_ID':'9974'},'sessid':'57866bbd99bb2d8f85f4a8a3d82c3e5c','AJAX_CALL':'Y'}"  ajax-url="/bitrix/components/bitrix/iblock.vote/component.php"  :vote-id="9974"  rand-string="bx_vo_9_9974_sBq3II"  :is-voted="0"  :user-vote="0"  total-cnt-text="133 оценки"  user-rate=""  ></vote> 			<!--'end_frame_cache_qepX1R'-->		</div>
		<product-desc inline-template >
			<div class="product_card_descr" :class="[isExpanded ? 'expanded' : '', ]" >
				<div class="pr_card_descr_visible" >
					Вина серии ВАЛЛЕЗЕЛЛЕ — это деликатные, бархатистые и полнотелые напитки, обладающие сбалансированной и энергичной структурой. Они имеют элегантный ароматический букет с характерной пряной нотой и фруктовыми тонами, подчеркнутый ярким и энергичным послевкусием. Оценка Луки Марони 2014—89 баллов.			        			            <p>Сбалансированный гармоничный вкус с нотами ягод.</p>
			        				</div>
				<div v-show="isBtnExpandVisible" class="read_more_descr" @click="isExpanded = !isExpanded" >
					<span>Читать <br>полностью</span>
				</div>
			</div>
		</product-desc>
		<div class="product_card_chars">
							<div class="pr_card_char_item pr_card_char_item--VOLUME">
					<span>Объем</span>
					<p>0.75</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--COUNTRY">
					<span>Страна</span>
					<p>Италия</p>
											<div style="background-image: url('//krasnoeibeloe.gcdn.co/upload/iblock/2d9/Italy.jpg')" class="country-flag"></div>
									</div>
							<div class="pr_card_char_item pr_card_char_item--">
					<span>Средняя цена</span>
					<p>799.99</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--REGION">
					<span>Регион</span>
					<p>Венето</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--ALCOHOL">
					<span>Алкоголь</span>
					<p>13</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--COLOR">
					<span>Цвет</span>
					<p>Красное</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--SUGAR">
					<span>Сахар</span>
					<p>Сухое</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--TEMPERATURE">
					<span>Температура подачи</span>
					<p>17</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--SORTA_VINOGRADA">
					<span>Сорта винограда</span>
					<p>Корвина<br/>Рондинелла<br/>Молинара<br/>Неграра</p>
									</div>
							<div class="pr_card_char_item pr_card_char_item--MANUFACTURER_NAME">
					<span>Производитель</span>
					<p>Casa Vitivinicola Tinazzi</p>
									</div>
					</div>
		<div class="product_sef">
					</div>
		<ya-share
    url="https://krasnoeibeloe.ru/catalog/vino/37522-vino_bardolino_peve_san_vito_2015_g_vallezelle_dop_13_kras_sukh_0_75_6_italiya_aroma_td/"
    title="Вино Бардолино Пьеве Сан Вито Валлезелле DOP кр.сух."
    description=""
    image="https://krasnoeibeloe.ru//upload/resize_cache/iblock/9db/200_356_1/bardolino_classico_pieve_san_vito.jpg"
></ya-share>
	</div>
</div>
</product>